<h2>Edit <%= resource_name.to_s.humanize %></h2>

<div class="row">
  <div class="span8">

    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "well form-horizontal" }) do |f| %>
      <%= devise_error_messages! %>

      <fieldset>
        <legend>Edit</legend>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :profile_name %>
        <%= f.input :email %>

        <%= f.input :password, :autocomplete => "off", 
        :hint => "leave blank if you don't want to change it"%>

        <div><%= f.input :password_confirmation %></div>

        <div>
          <%= f.input :current_password, 
          :hint => "we need your current password to confirm your changes" %> 
        </div>
      </fieldset>
      <div><%= f.button :submit, "Update", :class => "btn-success" %></div>
    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

    <%= link_to "Back", :back %>

  </div>
</div>